/************************************************************************************
CLEARFIX
*************************************************************************************/
/*.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul.search-results {
  list-style-type: none;
}

li {
 display: inline-block;
 clear: both;
 padding-left: 16px;
 margin-top: 22px;
}

.icon {
    float: left;
    text-align: center;
    width: 90px;
    height: 100%;
    display: block;
    margin-bottom: 16px;
    margin-right: 14px;
}

.icon-knowledge {
    float: left;
    text-align: center;
    width: 74px;
    height: 100%;
    display: block;
    margin-bottom: 16px;
}

.icon-knowledge-container {
    text-align: center;
    vertical-align: middle;
}

.icon-knowledge-container img {
  text-align: center;
  height: 42px;
  width: 42px;
}

.icon-thumbnail-container {
    text-align: center;
    vertical-align: middle;
}

.description {
  float: left;
  width: 70%;
  color: #000000;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.description h2 {
    font-size: 12px;
    font-weight: 700;
    font-family: Roboto-bold;
    color: #000000;
    margin-bottom: 0px;
}

.description p {
    font-family: Roboto;
    font-size: 11px;
}

h1 {
  color: #000000;
  line-height: 32px;
  height: 32px;
  font-family: Roboto-Medium;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
}

hr {
  background: #CFCFCF;
  height: 1px;
  border: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-action {
    border-radius: 3px;
    font-family: Roboto-Medium;
    font-size: 9px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    height: 16px;
    line-height: 16px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 14px;
    margin-top: 4px;
    text-align: center;
    display:inline-block;
    float: left;
}

.btn-action a:link, .btn-action a:visited,.btn-action a {
    text-decoration: none;
    color: #FFFFFF;
}

a.btn-action.green, a.btn-action.orange {
    text-decoration: none;
    color: #FFFFFF;
}

a.btn-action.green:hover,  a.btn-action.orange:hover  {
    opacity: .7;
}

.green {
    background: #26758E;
}

.orange {
    background: rgba(246,140,80,0.59);
}
